.news {
  border: 1px solid #CCC;
  padding: 5px;
  margin: 5px;
}

.news:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.news__title-ru {
  font-size: 16px;
  margin-bottom: 6px;
}

.news__title-en {
  font-size: 12px;
  margin-bottom: 4px;
}

.news__image {
  float: left;
  margin-right: 5px;
}

.news__additional {
  margin-top: 10px;
  color: #9b9b9b;
}
