.video-short-descr {
  border: 1px solid #CCC;
  padding: 5px;
  margin: 5px;
}

.video-short-descr:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.video-short-descr__title-ru {
  font-size: 16px;
  margin-bottom: 6px;
}

.video-short-descr__title-en {
  font-size: 12px;
  margin-bottom: 4px;
}

.video-short-descr__image {
  float: left;
  margin-right: 5px;
}

.video-short-descr__descr {
  margin-top: 10px;
}
