<div class="app">
  <header class="app__header">
    <div class="app__title">{{ title }}</div>
    <div class="app__sub-title">{{ subTitle }}</div>
  </header>
  <div class="app__content">
    <div class="app__left-sidebar">
      <news
        *ngFor="let news of newsList"
        [news]="news"
        (click)="onNewsClick(news)"
      >
      </news>
    </div>

    <div class="app__center-content">
      <input type="button" value="Toggle list" (click)="onToggleClick()"/>

      <div *ngIf="listVisible">
        <video-short-descr
          *ngFor="let video of videoShortDescrList"
          [video]="video"
          (click)="onVideoClick(video)"
        >
        </video-short-descr>
      </div>
    </div>
  </div>

  <footer class="app__footer">{{ footer }}</footer>

</div>
