<div class="app">
    <header class="app__header">
        <div class="app__title">{{ title }}</div>
        <button (click)="onToggleRightSidebarClick()">Toggle news {{ rightSideBarVisible ? '&gt;&gt;' : '&lt;&lt;' }}</button>
    </header>
    <div class="app__content">
        <div class="app__left-sidebar">
            <div>
                <button (click)="onTestDomAccess()" #sampleButton>test DOM</button>
                <button (click)="onCategoriesResetClick()">reset selection</button>
                <button (click)="onCategoriesLastClick()">select last</button>
            </div>
            <h1>Categories:</h1>
            <categories-list
                    [categories]="commonCategories"
                    (selectCategory)="onSelectCategory($event)"
            ></categories-list>
        </div>

        <div class="app__center-content">
            <videos-list
                    [videosList]="videosList"
                    (removeVideoClick)="onVideoRemoveClick($event)"
                    (selectVideoClick)="onSelectVideoClick($event)"
            ></videos-list>

            <video-details
                    *ngIf="selectedVideo"
                    [video]="selectedVideo"
                    (updateVideo)="onUpdateVideo($event)"
            >
            </video-details>
        </div>

        <div
                class="app__right-sidebar"
                *ngIf="rightSideBarVisible"
        >
            <h1>Upates: </h1>
            <news-list
                    [newsList]="newsList"
            ></news-list>
        </div>
    </div>

    <footer class="app__footer">{{ footer }}</footer>

</div>