:host {
    padding: 5px;
    margin: 5px;
    display: block;
}

.video-details__image {
    float: left;
    width: 200px;
    height: 300px;
    margin-right: 10px;
}

.video-details__actions {
    text-align: right;
}

.video-details__title {
    padding: 4px 0;
    margin-bottom: 5px;
    font-size: 20px;
}

.video-details__property {
    padding: 2px 0px 4px 0px;
}

.video-details__property b {
    font-weight: bold;
}

:host(:after) {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}